@layer utilities {
  /* Delayed fade-in effect: */
  .fade-in-delay {
    @apply opacity-0;
    animation: fadeIn var(--default-transition-duration) ease-in var(--delayed-fade-duration) forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
