@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply min-h-screen flex flex-col bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight mb-4;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight my-4;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-2;
  }

  a:not([data-slot='button']) {
    @apply underline text-indigo-600 dark:text-indigo-300 underline-offset-4 decoration-indigo-500 dark:decoration-indigo-400 transition-colors;
  }

  a:hover {
    @apply text-indigo-800 dark:text-indigo-200 decoration-indigo-300 dark:decoration-indigo-500;
  }

  a:active {
    @apply decoration-transparent dark:decoration-transparent;
  }

  ul {
    @apply m-0;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic text-muted-foreground;
  }

  hr {
    @apply my-4 bg-muted;
  }

  code {
    @apply relative rounded bg-muted px-[0.3em] py-[0.2em] font-mono text-sm;
  }

  pre {
    @apply mb-4 mt-6 overflow-x-auto rounded-lg border bg-muted p-4;
  }
}
