@import 'tailwindcss';
@import './_styles/elements.css';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --border: oklch(0.929 0.013 255.508);
  --ring: oklch(0.871 0.036 249.544);
  --sidebar: oklch(0.984 0.003 247.858);
  --shadow: oklch(0.83 0.04 256.84);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --muted: oklch(0.34 0.041 260.031);
    --muted-foreground: oklch(0.704 0.04 256.788);
    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.551 0.027 264.364);
    --sidebar: oklch(0.208 0.042 265.755);
    --shadow: oklch(0.452 0.087 252.245 / 0.63);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-shadow: var(--shadow);
}

body {
  font-family: system-ui, Arial, Helvetica, sans-serif;
}
